
@{
    Layout = null; //para deshabilitar el template
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>iTrebolSoft - Amazon</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <div class="text-center">
        <h2>iTrebolSoft</h2>

        @ViewBag.Saludos amiguitos
        <p>
            Bienvenido a AMAZON, tu tienda virtual de libros <br />
            Los libros no estan muriendo solo se estan volviendo digitales
        </p>
        @* Tag helper, que nos ayuda a redireccionar  *@
        <a class="btn btn-danger" asp-action="RegBookForm">Registrar un libro amiguito</a>
    </div>
    <p>
        Click <a class="nav-link" asp-controller="Home" asp-action="ListResponses">here</a> para ver la
        lista de Libros.
    </p>
</body>
</html>
